<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="xmlService" class="spring.di.xml.XmlService" />
	<bean id="xmlController" class="spring.di.xml.XmlController">
		<constructor-arg ref="xmlService" />
	</bean>
</beans>